# PM (xx.12.2024)

# project
/configuration.json

# miscellaneous
.DS_Store*
ehthumbs.db
Thumbs.db
desktop.ini
*.lnk
*.pem
*.log
.grunt
.env
/.vscode/*
!/.vscode/*.json
# .github
build
dist
node_modules
vendor
package-lock.json
composer.lock
