# PM (xx.12.2024)

# project
/configuration.json

# miscellaneous
*.backup
*.backup.*
*.ignore
*.ignore.*
*.lnk
*.local
*.local.*
*.log
*.pem
# ...
.DS_Store*
.env
.github
!.gitkeep
# ...
desktop.ini
ehthumbs.db
Thumbs.db
# ...
/.vscode/*
!/.vscode/*.json
# !/.vscode/spellright.dict
# ...
dist
node_modules
resources
vendor
# ...
/zyxw
